<h1>Please enter your username, email and password below:</h1>

<% if flash[:notice] %>
 <%= flash[:notice] %><br>
<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |message| %>
	  <%= message %>. <br>
	<% end %>
<% end %>



<form method='post' action="/login" class="form-signin">
  <h2 class="form-signin-heading">Please sign up</h2>
  <label for="username" class="sr-only">Username</label>
  <input type="text" id="username" name="username" class="form-control" placeholder="Username"  autofocus=true>
  <label for="password" class="sr-only">Password</label>
  <label for="email" class="sr-only">Email</label>
  <input type="email" id="email" name="email" class="form-control" placeholder="example@abc.com" >
  <input type="password" id="password" name="password" class="form-control" placeholder="Password" >
  <button class="btn btn-lg btn-default btn-block" type="submit">Sign Up</button>
</form>
