<div class="down">
  <%= erb :flash %>
  <h1>Add a New Book to Your Reading List:</h1>
  <div class="row">
    <form method="post" action="/books" class="edit-form col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 form boundary">
      <div class="form-group">
        <label for="title" class="left-label" >Title:</label>
        <input id="title" class="form-control" type="text" name="title" value=<%=@title%>>
      </div>

      <div class="form-group">
        <label for="category" class="left-label">Categories<small>(e.g.Category A, Category B,Category C):</small></label>
        <input id="category" class="form-control" type="text" name="category">
      </div>

      <div class="form-group">
        <label for="review" class="left-label">Review:</label>
        <textarea id="review" class="form-control" name="review"></textarea>
      </div>

      <div class="form-group">
        <label for="rating" class="left-label">Rating:</label>
        <input id="rating" class="form-control" type="number" min="0" max="10" step="1" name="rating"/>
      </div>

      <input type="submit" class="btn btn-lg btn-primary" value="submit"/>
    </form>
  </div>

  <br>

  <div class= 'registration'>
    <p class="lead">
      <a href="/books" class="btn btn-lg btn-primary">Back to reading list</a>
      <a href="/logout" class="btn btn-lg btn-primary">Log out</a>
    </p>
  </div>
</div>
