<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/cover.css" > <!-- static files are served from the public folder, set to /public -->
  </head>
  <body>
    <h1>My Book Club</h1>
    <%= yield %>
  </body>

</html>
