  <div class="down">
    <%= erb :flash %>
  <!-- log in form  -->
  <form method='post' action="/login" class="form-signin boundary">
    <h2 class="form-signin-heading">Please login in</h2>
    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username"  autofocus=true>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" >
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
  </form>

  <p>
    Username: Peter <br>
    Password: yyy123456
  </p>
</div>
