<h1>Please login with your username and password:</h1>

<% if flash[:notice] %>
 <%= flash[:notice] %><br>
<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |message| %>
	  <%= message %>
	<% end %>
<% end %>

<form method='post' action="/login">
<p>Username: <input type="text" name="username"/></p>
<p>Password: <input type="password" name="password"/></p>
<input type="submit" value="Submit"/>
</form>
